
#head {
	background-color: #c7d1e0;
	width: 100%;
	padding-top: 20px;
	margin-bottom: -20px
}


#head nav {
	margin-top: 20px;
	margin-left: 50px;
}

#head nav a {
	-moz-box-shadow:inset 0px 1px 0px 0px #54a3f7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #54a3f7;
	box-shadow:inset 0px 1px 0px 0px #54a3f7;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #007dc1), color-stop(1, #0061a7));
	background:-moz-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-webkit-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-o-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-ms-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#007dc1', endColorstr='#0061a7',GradientType=0);
	background-color:#007dc1;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #124d77;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #154682;
}
#head nav a:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0061a7), color-stop(1, #007dc1));
	background:-moz-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-webkit-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-o-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-ms-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0061a7', endColorstr='#007dc1',GradientType=0);
	background-color:#0061a7;
}


#head h2 {
	margin-top: -5px;
	color: #0061a7;
	font: "open sans";
}

#colo {
	position: relative;
	color: #0061a7;
	margin-left: -130px;
	margin-top: 30px;
}



#contain {
	display: none;
	margin-bottom: 50px;
	height: 480px;
	overflow: scroll;
	padding-right: 70px;
	border: 5px solid black;
	border-radius: 30px;
}

#contain img, p {
	margin-left: 30px;
	margin-bottom: 25px;
	font: 400 18px/1 'Kaushan Script', cursive;
}

#contain img {
	-webkit-box-shadow: 3px 3px 3px #777;
     -moz-box-shadow: 3px 3px 3px #777;
          box-shadow: 3px 3px 3px #777;
    opacity: 0.7;
}

#contain img:hover {
	opacity: 1;
}


#maintain {
	display: none;
	margin-bottom: 50px;
	height: 480px;
	overflow: scroll;
	padding-right: 70px;
	border: 5px solid black;
	border-radius: 30px;
	
}


#maintain img, p {
	margin-left: 30px;
	margin-bottom: 25px;
} 

#maintain img {
	-webkit-box-shadow: 3px 3px 3px #777;
     -moz-box-shadow: 3px 3px 3px #777;
          box-shadow: 3px 3px 3px #777;
    opacity: 0.7;
}

#maintain img:hover {
	opacity: 1;
}

#obtain {
	display: none;
	margin-bottom: 50px;
	height: 480px;
	overflow: scroll;
	padding-right: 70px;
	border: 5px solid black;
	border-radius: 30px;
}

#obtain img, p {
	margin-left: 30px;
	margin-bottom: 25px;
} 

#obtain img {
	-webkit-box-shadow: 3px 3px 3px #777;
     -moz-box-shadow: 3px 3px 3px #777;
          box-shadow: 3px 3px 3px #777;
    opacity: 0.7;
}

#obtain img:hover {
	opacity: 1;
}

#retain {
	display: none;
	margin-bottom: 50px;
	height: 480px;
	overflow: scroll;
	padding-right: 70px;
	border: 5px solid black;
	border-radius: 30px;
}

#retain img, p {
	margin-left: 30px;
	margin-bottom: 25px;
} 

#retain img {
	-webkit-box-shadow: 3px 3px 3px #777;
     -moz-box-shadow: 3px 3px 3px #777;
          box-shadow: 3px 3px 3px #777;
    opacity: 0.7;
}

#retain img:hover {
	opacity: 1;
}

#cartagena {
  display: flex;
  align-items: center;
  background-image: url('phots/cartagena_main.jpg');
  background-size: cover;
  color: #ffffff;
  height: 500px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}



#salento {
  display: flex;
  align-items: center;
  background-image: url('phots/salento_main.jpeg');
  background-size: cover;
  color: #ffffff;
  height: 500px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}

#guajira {
  display: flex;
  align-items: center;
  background-image: url('phots/gua_main.jpg');
  background-size: cover;
  color: #ffffff;
  height: 500px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}






#nipple {
	position: relative;
	color: #0061a7;
	margin-left: -130px;
	margin-top: 30px;
}

#squad {
	display: flex;
  	align-items: center;
 	background-image: url('phots/team_main2.jpeg');
 	background-size: cover;
  	color: #ffffff;
  	height: 500px;
  	text-shadow: 0.25px 0.25px 0.25px #000000;
}

#annapurna {
	display: flex;
  	align-items: center;
  	background-image: url('phots/annapurna_main.jpeg');
  	background-size: cover;
  	color: #ffffff;
  	height: 500px;
  	text-shadow: 0.25px 0.25px 0.25px #000000;
}

#trek {
	display: flex;
  	align-items: center;
  	background-image: url('phots/trek_main.jpeg');
  	background-size: cover;
  	color: #ffffff;
  	height: 500px;
  	text-shadow: 0.25px 0.25px 0.25px #000000;
}

#kath {
	display: flex;
  	align-items: center;
  	background-image: url('phots/kath_main.jpeg');
  	background-size: cover;
  	color: #ffffff;
  	height: 500px;
  	text-shadow: 0.25px 0.25px 0.25px #000000;
}

footer {
  font-size: 12px;
  padding: 20px 0;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
  margin-top: -50px;
}

footer li img {
  width: 32px;
  height: 32px;
}

h3 {
	display: none;
}


.filter {
	background-color: rgba(100, 100, 100, 0.8);
}

.whitener {
	background-color: white
}

hr {
	border: 5px solid black;
}









